html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
}

header {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.cabecalho {
  height: 100%;
  width: 100%;
  font-family: arial;
  display: flex;
  background: #202020;
  color: whitesmoke;
  align-items: center;
  justify-content: space-between;
}

.urlhome {
  text-decoration: none;
  height: 50px;
  width: auto;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  width: 100%;
}

.item-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  font-weight: 100;
  color: whitesmoke;
}

.item-menu:hover {
  background: black;
}
.item-menu:active {
  background: rgb(65, 65, 65);
}
.urlpagina {
  width: 100px;
  color: whitesmoke;
  text-decoration: none;
}

#nightmodebtn {
  height: 20px;
  width: 20px;
  background: url(./_img/night.svg);
  cursor: pointer;
  filter: invert(100%) sepia(82%) saturate(0%) hue-rotate(84deg)
    brightness(107%) contrast(101%);
}

#divnightmode {
  min-height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whitesection {
  width: 100%;
  min-height: 50px;
  background: rgb(28, 29, 29);
}

main {
  background: #202020;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  padding-bottom: 30px;
}

.filmes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
}
.posters {
  border-radius: 10px;
  height: 300px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

footer {
  background: black;
  min-height: 150px;
  display: flex;
  justify-content: center;
}

.rodape {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icone {
  height: 50px;
  filter: invert(100%) sepia(82%) saturate(0%) hue-rotate(84deg)
    brightness(107%) contrast(101%);
}
.icones {
  display: flex;
  margin-top: 30px;
  width: 250px;
  justify-content: space-around;
}
#copywright {
  color: whitesmoke;
  font-family: SEGOE UI;
  margin-top: 10px;
}

@media (max-width: 1071px) {
  .posters {
    height: 400px;
  }
}

@media (max-width: 680px) {
  .posters {
    height: 500px;
  }
}
@media (max-width: 580px) {
  header {
    flex-direction: column;
  }
  .cabecalho {
    height: 150px;
    flex-direction: column;
  }
  .urlhome {
    margin: 0;
  }
  .posters {
    height: 500px;
  }
  .menu {
    height: 50px;
    justify-content: space-around;
  }
  .item-menu {
    width: 100px;
  }
  .whitesection {
    position: relative;
    top: 100px;
  }
  main {
    margin-top: 100px;
  }
  .menu {
    width: 100%;
  }
}
